@{
    ViewData["Title"] = "Home Page";
}
<style>
    .word-search-wrapper {
        background-color: #DDDCDD;
        border-right: 1px solid #c4c4c4;
        height: 700px;
        padding: 20px;
    }
</style>
<!-- Custom fonts for this template-->
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
<link href="@Url.Content("~/css/home-style.css")" rel="stylesheet">

<h1>Dictionary</h1>
<div class="row">
    <div class="col-md-4">
        <div class="word-search-wrapper">
            <div style="padding:20px;">
                <input type="text" id="inputWordSearchHome" placeholder="search..." value="" />
                <button>Search</button>
            </div>
            <hr style="border-color:#000; padding: 0 20px" />
            <div id="wordWrapper">
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="word-detail-wrapper">
            <p class="word-detail-header"></p>
            <p class="word-detail-verbose"></p>
            <p class="word-detail-description"></p>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="@Url.Content("~/Vendor/jquery/jquery.min.js")"></script>
<script src="@Url.Content("~/Vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script src="@Url.Content("~/js/underscore-min.js")"></script>
<!-- Core plugin JavaScript-->
<script src="@Url.Content("~/Vendor/jquery-easing/jquery.easing.min.js")"></script>
<script src="@Url.Content("~/js/underscore-min.js")"></script>


<script src="@Url.Content("~/js/HomeScript.js")"></script>